/* Global personnalisation */
.top-bar {
  margin-bottom: 1rem;
  }
.row {
  max-width: 75rem;
  }

body {
  background-color: #020d20;
  }

.mode-selector {
  margin-bottom: 50px;
}

.commander {
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-commander {
  width:30%;
  margin: 0 auto;
}

.img-campaign {
  margin: auto;
  display: block;
  width:100%;
}

/* Left panel to choose unit or building */
.unit-selector {
  border: 2px solid #0a547f;
  background-color: #141e2e;
  padding-bottom: 20px;
  min-height: 380px;
  margin-bottom: 5px;
  }

.unit-selector h1 {
    background-color: #0a547f;
    color: #8cddff;
    font-size: 1.5rem;
    border-bottom: 0;
    padding:10px;
  }

.unit-selector img{
      width:100%;
      max-width:60px;
      margin:8px;
  }

.img-selected{
    box-shadow: 0px 0px 5px 7px #8cddff;
    position:relative;
    z-index:998;
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
  }

/* Right panel to show additional infos (conflict, shared hotkeys) */
.add-info {
  border: 2px solid #0a547f;
  background-color: #071e36;
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  margin-bottom: 10px;
  }

.add-info h1 {
    background-color: #0a547f;
    color: #8cddff;
    font-size: 1rem;
    border-bottom: 0;
    padding:10px;
  }

.add-info li {
  font-size: 1rem;
  color: #fff;
}

/* Central panel key selector */
.keySelected {
  padding: 20px;
  margin-top:30px;
  background-color: #071e36;
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
}

.keySelected h1, h2, h3 {
  color: #8cddff;
}

.keySelected h1 {
  font-size: 2.5rem;
}

.keySelected h2 {
  font-size: 2rem;
}

.keySelected h3 {
  font-size: 1.5rem;
}

.keySelected img {
  margin-bottom:20px;
  max-width:200px;
  width:100%;
}

.keySelected button {
  margin-bottom:5px;
  background-color: #020d20;
  font-size: 1.5rem;
}

.keySelected a {
  margin-bottom:5px;
  font-size: 1.5rem;
}

.reveal {
  background-color: #020d20;
  color: white;
}

.has-tip {
  border-bottom: none;
  cursor: auto;
}

.tooltip {
  z-index:999;
}
